@keyframes fade-img-one {
  0% {
    opacity: 0.8;
    background: url("/images/hero-imgs/3.JPG") center/cover no-repeat;
  }
  15% {
    opacity: 0.8;
    background: linear-gradient(
        0deg,
        rgba(18, 18, 18, 0.8),
        rgba(18, 18, 18, 0.8)
      ),
      url("/images/hero-imgs/2.png") center/cover no-repeat;
  }
  25% {
    opacity: 0.8;
    background: url("/images/hero-imgs/4.JPG") center/cover no-repeat;
  }
  50% {
    opacity: 0.9;
    background: linear-gradient(
        0deg,
        rgba(18, 18, 18, 0.8),
        rgba(18, 18, 18, 0.8)
      ),
      url("/images/hero-imgs/6.jpg") center/cover no-repeat;
  }
  65% {
    opacity: 1;
    background: linear-gradient(
        0deg,
        rgba(18, 18, 18, 0.8),
        rgba(18, 18, 18, 0.8)
      ),
      url("/images/hero-imgs/7.jpg") center/cover no-repeat;
  }
  75% {
    opacity: 0.9;
    background: url("/images/hero-imgs/8.jpg") center/cover no-repeat;
  }
  88% {
    opacity: 1;
    background: url("/images/hero-imgs/9.jpg") center/cover no-repeat;
  }
  100% {
    opacity: 0.8;
    background: url("/images/hero-imgs/10.jpg") center/cover no-repeat;
  }
}
