// all variables will go here
// you can decide to store all the brand colors, font-families etc
// so you don't end up repeating yourself al through.

:root {
  --primary-color: #f16e22e5;
  --secondary-color: #f6fff0;

  // font-families will go here
  --roboto: "Roboto", sans-serif;
}
